/* components/footer.module.css */
.footer {
    margin-top: 1.75rem;
    background-color: #333;
    color: white;
    padding: .35rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  